@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Layouts/_Default.cshtml";
}
		<div class="main-panel">
			<div class="container">

				<div class="panel-header bg-primary-gradient">
					<div class="page-inner py-3">
						<div class="d-flex align-items-left align-items-md-center flex-column flex-md-row">
							<div>
								<h2 class="text-white pb-2 fw-bold">SERVICE</
                                    h2>
							</div>
							<div class="ml-md-auto py-2 py-md-0">
							<!-- PAGE-HEADER -->
							<div class="page-header">
								<ol class="breadcrumb">
									<li class="breadcrumb-item">
										<a href="#">SERVICE</a>
									</li>
									<li class="breadcrumb-item active" aria-current="page">
										Ajouter
									</li>
								</ol>
							</div>
                            <!-- PAGE-HEADER END -->
							</div>
						</div>
					</div>
				</div>

				<div class="container-fluid">
                  <div class="row">
                  	 <article class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                  	 	
                  	 </article>
                  	 <article class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                  	 	PUT YOUR FORM HERE


				<form method="post" action="<?=base_url('ihm/Service/save')?>" class="card">
                            <div class="card-header">
                                <div class="card-title">Add a Service</div>
                            </div>
                            <div class="card-body">
                                <div class="form-group">
                                    <label class="form-label">NOM SERVICE</label>
                                    <input type="text" class="form-control"  name="nomservice" value="" required="">
                                </div>
                                <div class="form-group">
                                    <label class="form-label">DESCRIPTION SERVICE</label>
                                    <input type="text" class="form-control"  name="description" value="" required="">
                                </div>
                               
                            </div>
                            <div class="card-footer text-right">
                                <input type="hidden" name="MM_insert" value="beneFIUPdate">
                                <button type="submit" class="btn btn-primary">Save</button>
                            </div>
                        </form>
                  	 </article>
                  	 <article class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                  	 	
                  	 </article>
                  </div>	

				</div>
