
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Layouts/_DefaultStation.cshtml";
}
<div class="main-panel">
 <div class="container">

    <div class="panel-header bg-primary-gradient">
       <div class="page-inner py-3">
          <div class="d-flex align-items-left align-items-md-center flex-column flex-md-row">
             <div>
              <h2 class="text-white pb-2 fw-bold">
                Dashboard
            </h2>
        </div>
        <div class="ml-md-auto py-2 py-md-0">
         <!-- PAGE-HEADER -->
         <div class="page-header">
            <ol class="breadcrumb">
               <li class="breadcrumb-item">
                  <a href="#">Home</a>
              </li>
              <li class="breadcrumb-item">
                <a href="#">Recolte</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page" >
              Liste 
          </li>
      </ol>
  </div>
  <!-- PAGE-HEADER END -->
</div>
</div>
</div>
</div>
<div class="card-body rec-pat" >
  <div class="container-fluid">
      <div class="row">
           @if (Session["IDEmploye"] != null)
      { 
         <div class="col-md-12" id="containerClient1"  style="border: 1px solid #d2d7db;"></div>
           @section scripts
    {
       <script src="~/Scripts/stationClientDashboard.js"></script>

}
           }
          else
         { 
         <div class="col-md-12" id="containerClient"  style="border: 1px solid #d2d7db;"></div>
          @section scripts
    {

    <script src="~/Scripts/stationClient.js"></script>
}
           }
          
        </div>
       @*
       <div class="col-md-6" id="containerStationClient"  style="border: 1px solid #d2d7db;"></div>
       <div class="row"><div class="col-md-6" id="containerAssociationClient"  style="border: 1px solid #d2d7db;"></div>
          <div class="col-md-6" id="containerAssociationQuantite"  style="border: 1px solid #d2d7db;"></div>
        </div>*@
    
</div>
<div class="modal fade" id="myModal" role="dialog">
  <div class="modal-dialog modal-lg" style ="width:1000px;">
        <!-- Modal -->
    <div class="modal-content  modal-lg" >
          <div class="modal-header">
             <h4 class="modal-title"><span id="titre"></span></h4>
          </div>
    
    </div>            
  </div>
</div>

   </div>
</div>
 
   